<div class="row">
  <h5 class="text-center text-success">Meshiteroへようこそ！</h5>
  <p class="text-center">ここでは皆さんの美味しいを共有するSNSサイトです！<br>
      <strong>Let's,Meshitero!!</strong>
  </p>
</div>

<%#= link_to "Meshiteroへ",  %>

<%= link_to "新規登録", new_user_registration_path %>

<%= link_to "ログイン", new_user_session_path %>
