<div class="row my-5">
  <h5 class="text-center text-success mb-5">Meshiteroへようこそ！</h5>
  <p class="text-center">ここでは皆さんの美味しいを共有するSNSサイトです！<br>
      <strong>Let's,Meshitero!!</strong>
  </p>
</div>

<%#= link_to "Meshiteroへ",  %>
<div class="row justify-content-center">
  <div class="col-6 text-end">
    <%= link_to new_user_registration_path, class: "btn btn-success" do %>
      新規登録
    <% end %>
  </div>
  <div class="col-6">
    <%= link_to new_user_session_path, class: "btn btn-primary" do %>
      ログイン
    <% end %>
  </div>
</div>