<div class="row bg-body-tertiary p-5">
  <div class="col-8">
    <%= link_to root_path, class: "ms-5" do %>
      <%= image_tag 'logo.png'%>
    <% end %>
  </div>
  <div class="col-4">
    <%= link_to about_path, class: "nav-link" do %>
      About
    <% end %>
  </div>
</div>